
.settingsButton {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  position: fixed;
  right: 0;
  top: 0;
}

.startMenu{
  grid-area: body;
  
}

.startButton{
 grid-area: footer;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #f0f2f3aa);
}


